doctype html
html(lang=config.language)
  head
    include _partial/head
  body
    #container
      #banner
        include _partial/banner
      #content
        block content
      nav#footer
        include _partial/footer
  include _partial/scripts
