//sizes

//intervals
delay = 0s
fade-in = 0.2s
fade-out = 0s

//fonts
web-sans = 'Open Sans', 'Droid Sans', 'Source Sans Pro'
web-mono = 'Source Code Pro', 'DejaVu Sans Mono', 'Droid Sans Mono'
font-family-sans = web-sans, 'Helvetica Neue', 'Segoe UI', Verdana, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif
font-family-serif = "Palatino Linotype", "Book Antiqua", Palatino, serif
font-family-mono = web-mono, Menlo, Consolas, Monaco, 'Lucida Console', 'Courier', monoscape

//colors
dimgray =#696969
link-hover-color = cornflowerblue
link-color = #495A80
