mixin disqus_thread_script(article)
  script.
    //fix for permalink in pages
    var path = '#{article.path}'.replace('/index.html', '');
    var disqus_shortname = '#{config.disqus_shortname}';
    var disqus_identifier = path;
    var disqus_title = '#{article.title}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  noscript.
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

mixin disqus_count_script()
  div.jS-Pjax 
    script.
      var disqus_shortname = '#{config.disqus_shortname}';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();


mixin disqus_comments_ticker(article)
  a.comments(href= article.path + "#disqus_thread" data-disqus-identifier= article.path)
    = __('comments')
