mixin footer-link(name)
  if theme.menu[name]
    li
      if config.language === 'zh-CN' || config.language === 'zh-TW'
        a.zh(href=url_for(theme.menu[name]))
          = __(name)
      else
        a(href=url_for(theme.menu[name]))
          = __(name)

ul#footer-links
  +footer-link('about')
  +footer-link('archives')
  li
    a.out-site(href=url_for(theme.feed))
      = __("feed")
  //- li
  //-   a.out-site(href=theme.repo) Theme.Carbon
  //- li
  //-   a.out-site(href='https://github.com/hexojs/hexo') Hexo
