mixin footer-link(name)
  if theme.menu[name]
    +link(__(name), url_for(theme.menu[name]))

mixin link(name, url, isOut)
  li
    - var zn = config.language === 'zh-CN' || config.language === 'zh-TW'
    a(class={'zn': zn, 'out-site': isOut} href=url)
      = name
      
mixin external-link(name, url)
  +link(name, url, true)

ul#footer-links
  +footer-link('about')
  +footer-link('archives')
  +link(__('feed'), url_for(theme.feed))
  +external-link('Theme.Carbon', theme.repo)
  +external-link('Hexo', 'https://github.com/hexojs/hexo')

if theme.swiftype
  div#search
    a(href='javascript:void(0)')
      span#search-icon
        &#128269;
    input#search-input.hidden(name="search" placeholder="search" value="" tabindex="1" autocomplete="off" type="text")
