//
   Created by icy on 12/18/2014.

mixin list(page)
  include meta
  each post in page.posts.toArray()
    li
      .meta
        +meta(post)
      if(config.excerpt)
        .excerpt
          !=post.excerpt
