mixin meta(article)
  .meta
    h2.article-title
      include title
      if article.link
        a(href=article.link, target='_blank')
          +title(article)
      else
        - var path = article.path.replace('/index.html', '')
        //-fix for permalnk in pages
        a(href=url_for(path))
          +title(article)
    .article-date
      a.extra-switch(href='javascript:void(0);')
        include post-meta
        +date(article.date)
  .extra
    +extra(__('tags'), article.tags)
  .extra
    +extra(__('categories'), article.categories)
