mixin date(date)
  = date.format(config.date_format)

mixin extra(name, list)
  = __(name) + ':'
  if list && list.length > 0
    - colon = false
    each item in list.toArray()
      if colon
        = ','
      - colon = true
      = ' '
      a(href=url_for(item.path))
        = item.name
        if theme.tagcount
          = ' (' + item.posts.length + ')'
    = '.'
  else
    = ' ' + __('none') + '.'
