*
  max-width 100%

body
  font-size 22px
  font-family font-family-sans

ol
  padding-left 1.5rem

ul
  list-style-type none

a
  text-decoration none
  color black
  transition color fade-in ease-in delay
  &:hover
    color cornflowerblue

