*
  max-width 100%

html
  font-size 100%
  font-family font-family-sans

ol
  padding-left 1.5rem
  list-style-type lower-greek


ul
  list-style-type none

a
  text-decoration none
  color black
  transition color fade-in ease-in delay
  &:hover
    color cornflowerblue

blockquote
  display flex
  p
    margin-left auto
