*
  max-width 100%

html
  font-size 100%
  font-family font-family-sans

ol
  padding-left 1.5rem
  list-style-type decimal-leading-zero

ul
  list-style-type disc

a
  text-decoration none
  color black
  transition color fade-in ease-in delay
  &:hover
    color cornflowerblue

