//container
#container
  margin auto
  width 60%
  min-width 18rem

#banner
  overflow auto
  #site-title
  #site-subtitle
    display inline-block
    vertical-align middle
  #site-title
    font-size 3rem
    font-weight lighter
    margin-right 1.5rem
  #site-subtitle
    padding-left 1.5rem
    /*border-left thin solid dimgray*/
    font-size small

#content
  text-autospace ideograph-alpha
  .meta
    .article-title
      font-weight lighter
      margin-bottom 0
    .article-date
      color darkgray

  .extra
    float right
    padding-left 0.5rem
    display none

  //index
  .abstract-list
  .excerpt
  .archive-list
    padding 0
    color dimgray

  #more
    display none

  .article-content
    padding-top 0.5rem
    h2
      font-weight lighter
      font-size 1.3rem
    h3
      font-weight lighter
      font-size 1.15rem
    a
      padding-left 0.3rem
      padding-right 0.3rem
      color link-color
      &:hover
        color link-hover-color
      img
        margin-left -0.3rem
    p
      font-weight normal

  figure.highlight
    margin-right 0
    margin-left 0

  nav
    clear: both
    text-align center

    #left-navigator
      max-width 40%
      float left

    #right-navigator
      max-width 40%
      float right

//footer
#footer-links
  clear right
  list-style-type none
  padding-top 3rem
  float right
  ul
    list-style-type none
    float right
  li
    float left
    margin-left 1rem
  a
    display inline-block
  .zh
    word-break-cjk break-word
    width 1rem
    letter-spacing 1rem
